@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-display: var(--font-cinzel);
}

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 13, 16, 20;
  --background-end-rgb: 13, 16, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}