/* Custom Font Loading */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0D1014;
}

::-webkit-scrollbar-thumb {
    background: #6d0f0f;
    border-radius: 3px;
}

/* Map specific styles */
#map-svg {
    width: 100%;
    height: 100%;
}

/* Chiaroscuro Utilities */
.text-leadWhite {
    color: #F0F0F0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* Ensure sticky column stays put */
.sticky {
    position: -webkit-sticky;
    position: sticky;
}